*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

/* Navigation Bar */

.navBar{
    display: flex;
    position: sticky;
    top: 0;
    font-size: large;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.95);
}



.navList img{
    width: 5%;
}

.navList{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navList li{
    list-style: none;
}

.navList li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.navList li a:hover{
    text-decoration: none;
    color: grey;
}

#searchBar{
    border-radius: 30px;
    width: 20%;
    padding: 1%;
    margin: 1%;
    text-align: center;
}

.background{
    background: rgba(0, 0, 0, 0.7) url(../Images/background.jpg);
    background-size: cover;
    /* How do the two of them render */
    background-blend-mode: darken;
}


/* Section */

.boxMain{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.firstSection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-half{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* text-align: center; */
}

.btn{
    width: 15%;
    padding: 1%;
    margin: 1%;
    border-radius: 30px;
    border: 3px double white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover{
    width: 15%;
    padding: 1%;
    margin: 1%;
    border-radius: 30px;
    border: 3px double white;
    background-color: transparent;
    color: grey;
    cursor: pointer;
}

/* Next Section */

.section{
    height: 60vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.secLeft{
    flex-direction: row-reverse; 
}

.sectionTag{
    font-weight: bold;
}

.thumbnail img{
    border-radius:10%;
}

/* Contact */

.contact{
    height: 75vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.contact::before{
    content: "";
    background: url(../Images/Contact.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.contact input, .contact textarea{
    width: 40%;
    padding: 1%;
    margin: 0.5%;
    border-radius: 30px;
    background-color: #ffffff85;
}

.submit{
    color: black;
    background-color: #ffffff85;
    width: 15%;
    padding: 1%;
    margin: 1%;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

.footer{
    margin-top: 4%;
    background-color: rgba(0, 0, 0, 0.95);
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}




